@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
header{
    min-height: 20vh;
    min-width: 100% !important;
    background-color: #2EC4B6;
    background-size: 100% !important;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
nav{
    height: 5%;
    width: 40%;

}
nav a:hover{
    text-decoration: none;
    color: white !important;
    transition: 0.3s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.671);

}

main {
  min-height: 70vh;
  background-color: white;
}

.card-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}


.divlogopetsohop{
  max-width: 400px;
}

footer{
   /*  min-height: 40vh; */
    padding: 1rem 2rem;
    background-color: #2ec4b6;
}

footer a{
    color: black;
    text-decoration: none;
    /* margin: 1rem .5rem; */
    cursor: pointer;
}

footer a:hover{
  text-decoration: none;
  color: white;
  transition: 0.3s;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.671);

}

#divcopyrights {
    width: 100%;
}

footer .titulo_footer {
    font-weight: bold;
}

.btn-wsp{
    width: 58px;
    height: 58px;
    bottom: 5%;
    right: 3%;
    background: #0df053;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgb(0,0,0,0.3);
}
#divGeneralContacto{
  display: flex;
  gap: 5vw;
}
#divImagenContactanos{


  padding-left: 5vw;
}
#divMensajeFormEnviado{
  min-height: inherit;
  width: inherit;
}
#formulario{
  min-width: 50vw;
}
#divformulario{
  min-height: inherit;
}
#tarjetas{
  background-color: #CBF3F0 !important;
  /* height: 70vh !important; */
  color: black !important;
  
}

#tarjetas1{
  background-color: #CBF3F0 !important;
  color: black !important;
}

#tarjetas:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
} 

#tarjetas1:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#tarjetaFav{
  background-color: #FF9F1C;
  color: white; 
}

#tarjetaFav:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#caritaPerroFooter{

  max-height: 150px;
  max-width: 90px;

}

#enviarFormulario{
  border: none;
  font-size: 2.5vh;
  letter-spacing: .1vw;
  padding: .2vw;
  background-color: #FF9F1C;
}

#enviarFormulario:hover{
  background-color: #FFBF69;
  transition: 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.671);
}

#descripcionButton{
  background-color: #2EC4B6 !important;
  outline: none;
  border: none;
}

#descripcionButton:hover{
  background-color: #2ec4b5cc !important;
}

#descripcionProduct{
  min-width: 20vw;
  padding: 2vh;
  
}





.offcanvas-body{
    background-color: #2EC4B6 !important;
  
}

#botonFinalizarCompra{
  background-color: #FF9F1C !important;
}
#botonFinalizarCompra:hover{

  background-color: #FFBF69 !important;
}


#boxBuscador:hover{
  transition: 0.3s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.671);
}

.botonBuscar{
  border: none;
  font-size: 2.5vh;
  letter-spacing: .1vw;
  padding: .2vw;
  background-color: #FF9F1C;
}
#botonBuscar:hover{
  background-color: #FFBF69;
  transition: 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.671);
}

#inputBuscar{
  border: none;
  outline: none;
  height: 4.5vh;
}

#inputBuscar:hover{
  transition: 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.671);
}


#divmailcarrito{
    width: 30%;
}

/* boton + - */
#contador input{
    width: 25px;
    text-align: center;
}
#contador button{
    width: 25px;
    text-align: center;
    background-color: #FFBF69;
}





/* cartel animado de poco stock */
.producto {
    color: black;
  
    width: 60%;
    height: 15%;
    animation-name: example; 
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-shadow: 0px 0px 2px black;
  }
  @keyframes example {
    0% {
      background-color: none;
    }
  
    50% {
      background-color: red;
      box-shadow: 0 0 15px red;
    }
  
    100% {
      background-color: none;
    }
  }
  
  .productoAgotado {
    color: black;
  
    width: 60%;
    height: 15%;
    animation-name: exampleAgotado;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-shadow: 0px 0px 2px black;
  }
  @keyframes exampleAgotado {
    0% {
      background-color: white;
    }
  
    50% {
      box-shadow: 0 0 20px grey;
      background-color: grey;
    }
  
    100% {
      background-color: white;
    }
  }


  /*  boton agregar y ver descripcion */
 #botonAgregar{
  background-color:#FF9F1C;
  border-color: #FFBF69;
}
#botonAgregar:hover {
 background-color:#FFBF69;
 border-color: #ffbe699d;
}



#botonSinStock{
  background-color: gray;
  border-color: rgba(128, 128, 128, 0.493);
 }


/* boton agregar y boton quitar de favoritos  */ 
#botonAgregarFav{
  background-color:#2EC4B6;
  border-color: #04aa6d;
}
#botonAgregarFav:hover {
 background-color:#04aa6d;
 border-color: #2EC4B6;
}
#botonAgregadoFav{
  background-color:#04aa6d;
  border-color: #2EC4B6;
 }

#botonQuitarFav{
  background-color:red;
  border-color: rgb(155, 52, 12);
}
#botonQuitarFav:hover{
  background-color:rgb(230, 126, 66);
  border-color: rgb(155, 52, 12);
}
#botonAgregarF{
  background-color:#2EC4B6;
  border-color: #04aa6d;
}
#botonAgregarF:hover {
 background-color:#04aa6d;
 border-color: #2EC4B6;
}

#botonAgregadoF{
 background-color:#04aa6d;
 border-color: #2EC4B6;
}

#botonSinStockF{
  background-color:red;
  border-color: #2EC4B6;
 }


 
 /*estilo loader*/

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.imgFav{
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: transparent;
  border: none;
  outline: none;
}
/* creamos clase loader */
.loader{
  background-color:#2EC4B6;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  clip-path: circle(141.4% at 100% 0);
  transition:clip-path .5s ease-out;
}

/* cramos otro loader */
.loader2{
  clip-path: circle(0% at 100% 100%);
}

.offcanvas-end{
  min-width: 50vw !important;
}

/* --------------- Texto animado ------------*/
.textoAnimado{

  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
h6{
    width: 100%;
    background: linear-gradient(90deg,#CBF3F0, #2EC4B6, #FF9F1C, #FFBF69);
    background-size: 400%;
    background-position: -100%;
    font-size: 5vh;
    font-family: 'Secular One', sans-serif;
    letter-spacing: 0.75vw;
    font-weight: 100;
    word-spacing: 3vw;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 4s linear infinite;
    text-align: center;
}

#tarjetitas{
  width: 100%;
}

@keyframes animate{
  0%{
    background-position: 0;
  }
  100%{
    background-position: 400;
  }
}

.textoCentrado{
  text-align: center;
}


.modal-body , .modal-header{
  background-color: #CBF3F0;
}